

body {
    background-image: url(./worldmap.jpeg);
}

.header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}

.input {
    text-align: center;
    margin-bottom: 1rem;
}

.output {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#flagimg {
    height: 15rem;
    width: auto;
}